header{
    width: 100%;
    height: 60px;
    background-color: var(--bg-color3);
    padding: 0 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: var(--color3);
    font-size: 18px;    
}
header a + a{
    margin-left: 10px;
}