.container{
  max-width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 14px;
}

.logo{
  max-width: 227px;
}

.title{
  text-align: center;
  margin: 24px 0;
}

input{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 5px;
  font-size: 20px;
}

input[type=submit]{
  background-color: #119cea;
  border: 0;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  &:hover{
    background-color: #0b6aa1;
  }
}

.result{
  background-color: #53A653;
  border: 1px solid #50FA7B;
  padding: 20px 28px;
  width: 60%;
  display: flex;
  flex-direction: column;
  transition: transform 0.8s;
  &:hover{
    transform: scale(1.1);
  }
}

.result h2{
  margin-bottom: 10px;
}